<div class="d-none" data-toggle-target="togglableElement">
  <%= simple_form_for car do |f| %>
    <%= f.input :price %>
    <%= f.input :brand %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
