<div style="min-width: 200px;">
  <h3 style="margin-bottom: 5px;"><%= car.brand %> <%= car.model %></h3>
  <% if car.photo.attached? %>
    <%= image_tag car.photo, style: "width: 100%; height: auto; margin-bottom: 5px;" %>
  <% elsif car.image_url.present? %>
    <img src="<%= car.image_url %>" style="width: 100%; height: auto; margin-bottom: 5px;">
  <% else %>
    <p>Pas d'image disponible</p>
  <% end %>
  <p style="margin-bottom: 5px;"><strong>Prix :</strong> <%= car.price %>€</p>
  <p><strong>Adresse :</strong> <%= car.address %></p>
</div>
