

<div class="container mt-3">
  <div class="row">
    <% @cars.each do |car| %>
      <div class="col-md-4">
        <div class="card h-100">
          <img class="card-img-top" src="<%= car.image_url %>" alt="<%= car.brand %> <%= car.model %> image">
          <div class="card-body">
            <h5 class="card-title"><%= car.brand %> <%= car.model %></h5>
            <p class="card-text">
              <!-- Vous pouvez ajouter plus de détails ici -->
              Quelques détails supplémentaires sur la voiture ici.
            </p>
            <p class="card-text">
              <strong><%= number_to_currency(car.price, unit: "€", delimiter: " ", format: "%n %u par nuit") %></strong>
            </p>
          </div>
          <div class="card-footer">
            <%= link_to "Voir les détails", car_path(car), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<div data-controller="toggle" class="mt-5">
  <button data-action="click->toggle#fire" class="btn btn-outline-primary">Add a new car</button>
  <%= render "form", car: @car %>
</div>



<div data-controller="toggle" class="mt-5">
  <button data-action="click->toggle#fire" class="btn btn-outline-primary">Add a new car</button>
  <%= render "form", car: @car %>
</div>
