
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <!-- Affichage des détails de la voiture -->
      <div class="car-details">

        <img class="card-img-top" src="<%@car.image_url%>" alt="<%= @car.brand %> <%= @car.model %> image">
        <h2 class="car-model"><%= @car.model %></h2>
        <p class="car-brand"><strong>Brand :</strong> <%= @car.brand %></p>
        <!-- Ajoutez d'autres détails de la voiture si nécessaire -->
      </div>
    </div>
    <div class="col-md-6">
      <!-- Formulaire de réservation -->
      <div class="reservation-form">
        <h2>Réserver cette voiture</h2>
        <%= simple_form_for @booking do |f| %>
          <div class="form-group">
            <%= f.label :start_date, "Date de début" %>
            <%= f.date_field :start_date, data: { controller: "datepicker" }, class: "form-control", placeholder: "jj/mm/aaaa" %>
          </div>

          <div class="form-group">
            <%= f.label :end_date, "Date de fin" %>
            <%= f.date_field :end_date, data: { controller: "datepicker" }, class: "form-control", placeholder: "jj/mm/aaaa" %>
          </div>

          <div class="actions">
            <%= f.submit "Réserver", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
