<!DOCTYPE html>
<html>
  <head>
     <link rel="icon" href="https://previews.123rf.com/images/katedemianov/katedemianov1709/katedemianov170900184/86153286-location-de-voitures-anciennes-logo-vintage-monochrome-de-vecteur-isol%C3%A9-sur-fond-blanc.jpg"/>
    <title>RetroCars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

  </head>

  <body data-controller="modal">
    <%= render "shared/flashes" %>
    <%= render "shared/navbar" %>
    <%= yield %>

    <%= render "shared/modal" %>
  </body>
</html>
